:root {
    --gray: #f2f1f4;
    --white: #ffffff;
    --black: #000000;
    --uutinen: #252525;
}

 * {
    color: var(--fontColor);
 }

body {
    background: var(--bg);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 80px;
 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;              
    align-items: center;
}

li {
    
    margin-right: 10px;  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.active {
    background-color: grey;
    font-weight: bold;
    border-radius: 12px;
    float: left;
}

li a.hover {
    background-color: aqua;
}

a {
    color: black;
}

.uutinen:hover {
    box-shadow: 0 0 11px rgb(33,33,33,.2);
}

.uutinen {
    width: 636px;  
    padding: 5px;
    background-color: var(--uutinenbg);
    margin: 20px auto;
    float: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: white;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.light-theme {
    --fontColor: var(--black);
    --bg: var(--gray);
}

.dark-theme {
    --bg: var(--black);
    --uutinenbg: var(--uutinen);
    --fontColor: var(--white);
}

iframe {

    border-radius: 12px;    
    width: 100%;          
    max-width: 640px;      
    height: 360px;        
    margin: 20px auto;       
    display: block;        

     
}

h2, p  {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 961px) {
    .uutinen {
        width: 40%;

    }
}
    
